/* for all*/
.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 150px;
}

/* form*/
#form {
    padding-top: 50px;
    padding-bottom: 50px;
}

.form_title {
    text-align: center;
    color: #273646;
}
