/* for all*/
.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 150px;
}

/*title*/
.title {
    padding: 5vw;
    text-align: center;
    font-family: 'Lucida Sans';
    color: #6b0000;
} 

.section_title {
    padding-left: 5%;
    font-family: 'Lucida Sans';
    color: #6b0000;
}

/*Top Questions*/
.tq {
    padding-left: 5%;
    font-size: 23px;
    color: #bb7b51;
}

.tq:hover {
    color: #3f2401 !important;
}

.tq_textbody {
    padding-left: 10%;
    color: #74371b;
    font-size: larger;
    font-family: 'Lucida Sans';
}
