/*title*/
.title {
    padding: 5vw;
    text-align: center;
    font-family: 'Lucida Sans';
    color: #6b0000;
}

.section_title {
    font-family: 'Lucida Sans';
    color: #6b0000;
}

/*Top Questions*/
.tq {
    font-size: 23px;
    color: #bb7b51;
}

.tq:hover {
    color: #3f2401 !important;
}

.tq_textbody {
    padding-left: 50px;
    color: #74371b;
    font-size: larger;
    font-family: 'Lucida Sans';
}
