/* nabbar header */
nav {
    background-color: #ffffff;
    position: relative;
    text-align: center;
    align-items: stretch;
}

nav ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
} 

nav a {
    color: #572a00 !important;
}

nav li a:hover {
    color: #dd8219 !important;
}


/* footer */
#footer {
    padding-top: 15px;
    background:#ffffff;
}

.footer-links-header {
    display: flex;
    color: #351100;
}

.footer-link {
    display: flex;
    flex-direction: column;
}

#link {
    font-size: small;
    color: #533900;
}

#link:hover {
    color: #d4b170;
}