/* nabbar header */
nav {
    position: relative;
    text-align: center;
    align-items: stretch;
}

nav ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
} 

nav a {
    color: #803a00 !important;
}

nav li a:hover {
    color: #bb3f3f !important;
}

/* carousel */
#c_pic {
    opacity: 0.9;
}

#c_caption1{
    top: 7% !important;
    left: 71% !important;
}

.c_text1 {
    color: #b8f0e8;
    text-shadow: -2px -2px #6f9acc;
    font-family: Haettenschweiler;
    font-size: 8vw;
}

#c_caption2{
    top: 0% !important;
}

.c_text2 {
    color: #8f2c0e;
    text-shadow: -1px -1px #f3cbc4;
    font-family: Haettenschweiler;
    font: bold;
    font-size: 5.7vw;
}

#c_caption3{
    top: 57% !important;

}

.c_text3 {
    color: #fcf4ef;
    text-shadow: 3px 3px #520a0a;
    font-family: Haettenschweiler;
    font-size: 5.7vw;

}
/* for all */
.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 150px;
}

.fade {
    opacity: 1;
}

/* Second Third Fourth*/
#second {
    padding-top: 60px;
}
#feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.section_title {
    color: #9c1515;
    text-align: center;
    font-family: fantasy;
    font-weight: bold;
    font-size: 50px;
    padding: 10px;
}

.description {
    text-align: center;
    font-family: Times;
}

#feature_pic {
    max-height: 500px;
    width: 100%;
    height: auto;
}

#fourth {
    padding-bottom: 60px;
}

/* fifth*/
#fifth {
    padding: 60px;
    background-image: linear-gradient(white, #ffe9e1);
}
.fifth_title {
    text-align: center;
    color: #851d41;
    font-family: Oxygen;
    
}

/* fifth*/
#sixth {
    background-color: #ffe9e1;
}

.items {
    display: inline-block;
  width: 3em;
  height: 3em;
  margin-right: 1em;
  background-color: steelblue;
  text-align: center;
}

#card {
    background-color: #ffe9e1;
    max-width: 25rem;
    border: none;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    padding-bottom: 150px;
}

#cards2 {
    padding-top: 100px;
}

.card-text {
    color: #851d41;
    text-align: center;
    padding-top: 15px;
}

i {
    color: #f88d6c;
    margin-left: 42%;
}

@keyframes fa-exclamation-circle {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 1; }
    75% { opacity: 0; }
	100% { opacity: 1; }
}
.fa-exclamation-circle:hover {
  animation: fa-exclamation-circle 1s linear infinite;
  color: #800000 !important;
}

.fa-spin-hover:hover {
    animation: fa-spin 2s infinite linear;
    color: #800000 !important;
}
@keyframes compass {
    0% {transform: rotate(-12deg);}
    8% {transform: rotate(12deg);}
    10% {transform: rotate(24deg);}
    18% {transform: rotate(-24deg);}
    20% {transform: rotate(-24deg);}
    28% {transform: rotate(24deg);}
    30% {transform: rotate(24deg);}
    38% {transform: rotate(-24deg);}
    40% {transform: rotate(-24deg);}
    48% {transform: rotate(24deg);}
    50% {transform: rotate(24deg);}
    58% {transform: rotate(-24deg);}
    60% {transform: rotate(-24deg);}
    68% {transform: rotate(24deg);}
    75% {transform: rotate(0deg);}
}

.fa-compass:hover{
animation: compass 2.5s ease infinite;
color: #800000 !important;
}

@keyframes fa-map-marker {
    0% {opacity: .6;}
    50% {transform: scale(1.8);
         opacity: 0;}
    100% {opacity: 0;}
}

.fa-rss {
    transform: rotate(-45deg);
}

.fa-map-marker:hover {
  animation: fa-map-marker 1s linear infinite;
  color: #800000 !important;
}

@keyframes fa-rss {
    0% {opacity: 0;}
    50% {transform: rotate(-100deg);
         opacity: .3;}
    50% {transform: rotate(-100deg);
        opacity: .6;}     
    100% {opacity: 1;}
}
.fa-rss:hover {
  animation: fa-rss 3s linear infinite;
  color: #800000 !important;
}

/* seventh */
#seventh {
    position: relative;
}

#background-image {
    position: relative;
    width: 100%;
}

#where{
    position: absolute;
    bottom: 40%;
    right: 20px;
    color: white;
    padding-left: 70%;

}

.know {
    color: #fdba9b;
    font-style: oblique;
    font-family: cursive;
    font-weight: bolder;
    text-align: center;
    font-size:5vw;
    
}

.learn {
    position: absolute;
    bottom: 30%;
    right: 8%;
    color: #fdba9b;
    font-family: Lucida;
    font-size:3vw;
}

.learn:hover {
    color: #a85117;
}

/* footer */
#footer {
    padding-top: 15px;
    background:#f5c299;
}

.footer-links-header {
    display: flex;
    color: #851d41;
}

.footer-link {
    display: flex;
    flex-direction: column;
}

#link {
    font-size: small;
    color: #520a0a;
}

#link:hover {
    color: #c77102;
}