/* for all */
#marked {
    color: #f88f65;
}

.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 150px;
}

/* first */
#first {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.first_text {
    font-family: 'Lucida Sans';
    font-size: 5vw;
    padding-bottom: 50px;
}

#first_pic {
    max-height: 500px;
    width: 100%;
    height: auto;
}

.first_marked {
    font-size: 6vw;
}

/* second */
#second {
    padding-top: 150px;
}

#card #feature_pic {
    align-items: center;
} 

#second_pic {
    max-height: 500px;
    padding-left: 15%;
    width: 50%;
    height: auto;
}

#feature_pic {
    max-height: 500px;
    width: 100%;
    height: auto;
}

/* Second Third Fourth*/
#third {
    background-image: linear-gradient(#ffffff, #85471dd0 ,#85471d);

}

#fourth {
    background-image: linear-gradient(#85471d, #85471dd0,#ffffff);
    padding-bottom: 100px;
    padding-top: 50px;
}

.logo_describe {
    margin-left: -10%;
    width: 60%;
}

.description {
    text-align: center;
    font-family: Times;
}

.logo_text {
    padding-left: 0%;
}

/* fifth*/
#fifth {
    padding: 60px;
}

.fifth_title {
    text-align: center;
    color: #851d41;
    font-family: Oxygen;
    
}

/* fifth*/
.items {
display: inline-block;
  width: 3em;
  height: 3em;
  margin-right: 1em;
  background-color: steelblue;
  text-align: center;
}

#card {
    max-width: 25rem;
    border: none;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    padding-bottom: 150px;
}

#cards2 {
    padding-top: 100px;
}

.card-text {
    color: #851d41;
    text-align: center;
    padding-top: 15px;
}

i {
    color: #ff7842;
    margin-left: 42%;
}

@keyframes fa-exclamation-circle {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 1; }
    75% { opacity: 0; }
	100% { opacity: 1; }
}
.fa-exclamation-circle:hover {
  animation: fa-exclamation-circle 1s linear infinite;
  color: #800000 !important; 
}

.fa-spin-hover:hover {
    animation: fa-spin 2s infinite linear;
    color: #800000 !important;
}
@keyframes compass {
    0% {transform: rotate(-12deg);}
    8% {transform: rotate(12deg);}
    10% {transform: rotate(24deg);}
    18% {transform: rotate(-24deg);}
    20% {transform: rotate(-24deg);}
    28% {transform: rotate(24deg);}
    30% {transform: rotate(24deg);}
    38% {transform: rotate(-24deg);}
    40% {transform: rotate(-24deg);}
    48% {transform: rotate(24deg);}
    50% {transform: rotate(24deg);}
    58% {transform: rotate(-24deg);}
    60% {transform: rotate(-24deg);}
    68% {transform: rotate(24deg);}
    75% {transform: rotate(0deg);}
}

.fa-compass:hover{
animation: compass 2.5s ease infinite;
color: #800000 !important;
}

@keyframes fa-map-marker {
    0% {opacity: .6;}
    50% {transform: scale(1.8);
         opacity: 0;}
    100% {opacity: 0;}
}

.fa-rss {
    transform: rotate(-45deg);
}

.fa-map-marker:hover {
  animation: fa-map-marker 1s linear infinite;
  color: #800000 !important;
}

@keyframes fa-rss {
    0% {opacity: 0;}
    50% {transform: rotate(-100deg);
         opacity: .3;}
    50% {transform: rotate(-100deg);
        opacity: .6;}     
    100% {opacity: 1;}
}
.fa-rss:hover {
  animation: fa-rss 3s linear infinite;
  color: #800000 !important;
}

/* seventh */
#seventh {
    position: relative;
}

#background-image {
    position: relative;
    width: 100%;
}

#where{
    position: absolute;
    bottom: 55%;
    right: 20px;
    color: white;
    padding-left: 70%;

}

.know {
    color: #fdc099;
    font-style: oblique;
    font-weight: lighter;
    text-align: center;
    font-size:5vw; 
}

.learn {
    position: absolute;
    bottom: 45%;
    right: 8%;
    color: #fdc099;
    font-family: Lucida;
    font-size:3vw;
}

.learn:hover {
    color: #af3721;
}
